.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

.game-box {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}

img {
    max-width: 100%;
    height: 50px
}