body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg, #69fff3 25%, #3fff69 100%);
    display:flex;
    justify-content:center;
    align-items:center;
}

.tela{
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(244, 248, 6);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    padding: 20px;
}

